{% extends 'base.html' %}

{% block title %}Post Detail Page{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.content }}</p>

<em>By {{ user.first_name }} {{ user.last_name }}</em>

<b>Tags:
  {% for tag in tags %}
  <a href="">{{ tag.name }}</a>
  {% endfor %}
</b>

<form>
  <button class="btn btn-outline-primary">Cancel</button>
</form>

<form action="/posts/{{ post.id }}/edit">
  <button class="btn btn-primary">Edit</button>
</form>

<form method="POST" action="/posts/{{ post.id }}/delete">
  <button class="btn btn-danger">Delete</button>
</form>

{% endblock %}
